In [28]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [29]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Aginskoye,RU,2022-08-16 15:28:52,51.1000,114.5300,59.04,81,100,4.34
1,1,Geraldton,AU,2022-08-16 15:28:52,-28.7667,114.6000,61.21,72,100,19.57
2,2,Barrow,US,2022-08-16 15:28:53,71.2906,-156.7887,33.82,93,100,13.80
3,3,Rikitea,PF,2022-08-16 15:28:53,-23.1203,-134.9692,73.29,69,9,16.80
4,4,Tiksi,RU,2022-08-16 15:28:54,71.6872,128.8694,46.42,87,26,8.48

In [30]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [31]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [32]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [44]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.dropna(axis=0, how="any", inplace=True)
preferred_cities_df.head(10)

/Users/natalie/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Rikitea,PF,2022-08-16 15:28:53,-23.1203,-134.9692,73.29,69,9,16.80
8,8,Portland,US,2022-08-16 15:26:00,45.5234,-122.6762,66.58,86,75,5.75
10,10,Castro,BR,2022-08-16 15:28:56,-24.7911,-50.0119,68.86,57,91,4.45
14,14,Thompson,CA,2022-08-16 15:24:47,55.7435,-97.8558,71.76,73,20,5.75
27,27,Karratha,AU,2022-08-16 15:29:04,-20.7377,116.8463,73.92,75,1,6.22
35,35,Vaini,TO,2022-08-16 15:29:09,-21.2000,-175.2000,71.76,83,40,13.80
48,48,Saint-Philippe,RE,2022-08-16 15:30:16,-21.3585,55.7679,71.19,74,47,7.25
49,49,Margate,GB,2022-08-16 15:30:16,51.3813,1.3862,73.31,76,99,1.99
54,54,Port Elizabeth,ZA,2022-08-16 15:30:19,-33.9180,25.5701,68.29,43,0,5.75
58,58,Puerto Ayora,EC,2022-08-16 15:30:20,-0.7393,-90.3518,71.56,96,99,5.99

In [45]:
preferred_cities_df.count()

City_ID       104
City          104
Country       104
Date          104
Lat           104
Lng           104
Max Temp      104
Humidity      104
Cloudiness    104
Wind Speed    104
dtype: int64

In [46]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
3          Rikitea      PF     73.29 -23.1203 -134.9692
8         Portland      US     66.58  45.5234 -122.6762
10          Castro      BR     68.86 -24.7911  -50.0119
14        Thompson      CA     71.76  55.7435  -97.8558
27        Karratha      AU     73.92 -20.7377  116.8463
35           Vaini      TO     71.76 -21.2000 -175.2000
48  Saint-Philippe      RE     71.19 -21.3585   55.7679
49         Margate      GB     73.31  51.3813    1.3862
54  Port Elizabeth      ZA     68.29 -33.9180   25.5701
58    Puerto Ayora      EC     71.56  -0.7393  -90.3518

In [47]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [52]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

IndentationError: unexpected indent (2326628367.py, line 15)

In [56]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [59]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [60]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]