## Deliverable 2. Create a Customer Travel Destinations Map.

In [31]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [36]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.drop(['Unnamed: 0'], axis=1, inplace=True)
city_data_df.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Nuuk,GL,64.1835,-51.7216,45.21,76,75,13.80,broken clouds
1,Dzhebariki-Khaya,RU,62.2167,135.8000,53.13,94,95,5.59,overcast clouds
2,Makakilo City,US,21.3469,-158.0858,86.32,48,40,18.41,scattered clouds
3,Punta Arenas,CL,-53.1500,-70.9167,37.51,75,20,11.50,few clouds
4,Port Elizabeth,ZA,-33.9180,25.5701,58.10,78,75,28.77,light intensity shower rain

In [21]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [22]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Makakilo City,US,21.3469,-158.0858,86.32,48,40,18.41,scattered clouds
5,5,Matamoros,MX,25.5333,-103.2500,93.31,31,75,8.05,broken clouds
6,6,Pandan,PH,14.0453,124.1694,83.71,72,94,2.71,overcast clouds
7,7,Atuona,PF,-9.8000,-139.0333,76.78,70,15,16.53,few clouds
11,11,San Patricio,US,28.0170,-97.5169,90.54,63,97,14.29,overcast clouds
12,12,Fort Saint James,CA,54.4333,-124.2500,85.84,34,11,2.71,few clouds
14,14,Saint George,US,37.1041,-113.5841,94.24,33,20,24.16,few clouds
15,15,Porto Santo,PT,33.0720,-16.3415,70.18,68,75,9.22,broken clouds
17,17,High Level,CA,58.5169,-117.1360,87.91,35,75,6.91,broken clouds
18,18,Nikolskoye,RU,59.7035,30.7861,64.29,78,8,5.57,clear sky

In [35]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

Unnamed: 0             509
City                   509
Country                508
Lat                    509
Lng                    509
Max Temp               509
Humidity               509
Cloudiness             509
Wind Speed             509
Current Description    509
dtype: int64

In [24]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna(axis=0, how="any")

In [25]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Makakilo City,US,86.32,scattered clouds,21.3469,-158.0858,
5,Matamoros,MX,93.31,broken clouds,25.5333,-103.2500,
6,Pandan,PH,83.71,overcast clouds,14.0453,124.1694,
7,Atuona,PF,76.78,few clouds,-9.8000,-139.0333,
11,San Patricio,US,90.54,overcast clouds,28.0170,-97.5169,
12,Fort Saint James,CA,85.84,few clouds,54.4333,-124.2500,
14,Saint George,US,94.24,few clouds,37.1041,-113.5841,
15,Porto Santo,PT,70.18,broken clouds,33.0720,-16.3415,
17,High Level,CA,87.91,broken clouds,58.5169,-117.1360,
18,Nikolskoye,RU,64.29,clear sky,59.7035,30.7861,

In [26]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [32]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
clean_hotel_df = hotel_df.dropna(axis=0, how="any")
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Makakilo City,US,86.32,scattered clouds,21.3469,-158.0858,Marriott's Ko Olina Beach Club
5,Matamoros,MX,93.31,broken clouds,25.5333,-103.2500,Quinta Belem
6,Pandan,PH,83.71,overcast clouds,14.0453,124.1694,Bonifacio Lodge
7,Atuona,PF,76.78,few clouds,-9.8000,-139.0333,Hôtel Hiva Oa Hanakee Lodge
11,San Patricio,US,90.54,overcast clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"
...,...,...,...,...,...,...,...
697,Kemijarvi,FI,63.14,scattered clouds,66.7131,27.4306,Hotelli Kemijärvi
699,Port Blair,IN,81.91,overcast clouds,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
700,Lingao,CN,79.79,overcast clouds,19.9103,109.6859,Lingao Ditai Inn
701,Mersing,MY,77.67,broken clouds,2.4312,103.8405,Timotel Hotel
704,Seminole,US,87.89,thunderstorm with heavy rain,28.7086,-81.2081,The Oviedo Lodge Motel

In [33]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file)

In [29]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [30]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))