## Deliverable 3. Create a Travel Itinerary Map.

In [25]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [63]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv", index_col=False)
vacation_df.drop(['Unnamed: 0'], axis=1, inplace=True)
vacation_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Makakilo City,US,86.32,scattered clouds,21.3469,-158.0858,Marriott's Ko Olina Beach Club
1,Matamoros,MX,93.31,broken clouds,25.5333,-103.2500,Quinta Belem
2,Pandan,PH,83.71,overcast clouds,14.0453,124.1694,Bonifacio Lodge
3,Atuona,PF,76.78,few clouds,-9.8000,-139.0333,Hôtel Hiva Oa Hanakee Lodge
4,San Patricio,US,90.54,overcast clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"
...,...,...,...,...,...,...,...
458,Kemijarvi,FI,63.14,scattered clouds,66.7131,27.4306,Hotelli Kemijärvi
459,Port Blair,IN,81.91,overcast clouds,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
460,Lingao,CN,79.79,overcast clouds,19.9103,109.6859,Lingao Ditai Inn
461,Mersing,MY,77.67,broken clouds,2.4312,103.8405,Timotel Hotel
462,Seminole,US,87.89,thunderstorm with heavy rain,28.7086,-81.2081,The Oviedo Lodge Motel

In [64]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
city_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [65]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=city_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [66]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Liverpool"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Liverpool"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Atherton"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Southampton"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Saint Stephen"]

In [67]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,[4,5]].to_numpy()
end = vacation_end.iloc[0,[4,5]].to_numpy()
stop1 = vacation_stop1.iloc[0,[4,5]].to_numpy()
stop2 = vacation_stop2.iloc[0,[4,5]].to_numpy()
stop3 = vacation_stop3.iloc[0,[4,5]].to_numpy()

In [68]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

liverpool_s = start
liverpool_e = end
atherton = stop1
southampton = stop2
saintstephen = stop3

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
directions = gmaps.directions_layer(liverpool_s, liverpool_e, waypoints=[atherton,southampton,saintstephen], travel_mode="DRIVING")
fig.add_layer(directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [69]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Liverpool,GB,60.75,clear sky,53.4106,-2.9779,Premier Inn Liverpool City Centre (Moorfields)...
1,Atherton,GB,60.35,few clouds,53.5237,-2.4935,The Mercury Motel
2,Southampton,GB,61.02,clear sky,50.9040,-1.4043,Leonardo Royal Southampton Grand Harbour
3,Saint Stephen,GB,62.87,broken clouds,50.3333,-4.9000,4 stepaside corner

In [72]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]
locations

       Lat     Lng
0  53.4106 -2.9779
1  53.5237 -2.4935
2  50.9040 -1.4043
3  50.3333 -4.9000

In [73]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))